PATH_add node_modules/.bin

# DO NOT ADD YOUR OWN CONFIG HERE, USE .local.env

# runs through the defaults and exports them
[ -e ./.env ] && dotenv ./.local.env

# creates (if not exist) and loads .local.env
>>.local.env; [ -e ./.env ] && dotenv ./.local.env